.TodoElement {
  margin: 4px;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.TodoElement__MainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  padding: 12px 16px;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.TodoElement.selected {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0px 0px color-mix(in lab, var(--accent-color) 70%, transparent 30%);
}

.TodoElement textarea {
  border-radius: 12px;
  padding: 8px;
  flex: 0 1 100%;
}

.done {
  background-color: color-mix(in lab, var(--success-color) 30%, transparent 70%);
}

.TodoElement:hover {
  background-color: color-mix(in lab, var(--accent-color) 30%, transparent 70%);
}

.done:hover {
  background-color: color-mix(in lab, var(--success-color) 100%, transparent 0%);
}

.TodoElement--Title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.TodoElement--Options__Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 68px;
  gap: 4px;
}

.button--todoElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.button--edit {
  background-color: color-mix(in oklab, var(--accent-color) 40%, transparent 60%);
}

.button--edit:hover {
  border-color: transparent;
  background-color: color-mix(in oklab, var(--accent-color) 100%, transparent 0%);
}

.button--delete {
  background-color: color-mix(in oklab, var(--danger-color) 40%, transparent 60%);
}

.button--delete:hover {
  border-color: transparent;
  background-color: color-mix(in oklab, var(--danger-color) 100%, transparent 0%);
}

.button--validate {
  background-color: color-mix(in oklab, var(--success-color) 40%, transparent 60%);
}

.button--validate:hover {
  border-color: transparent;
  background-color: color-mix(in oklab, var(--success-color) 100%, transparent 0%);
}

/* Checkbox pour toggle la Todo (Done: True/false */

.button--toggleDone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: color-mix(in oklab, var(--success-color) 80%, transparent 20%);
  transition: all 0.2s ease;
}

.button--toggleDone input {
  cursor: pointer;
  opacity: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.button--toggleDone:hover {
  border-color: transparent;
}

.undo {
  background-color: color-mix(in oklab, var(--danger-color) 80%, transparent 20%);
}

.TodoElement__Footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px 0 0;
}

.TodoElement__Footer span {
  font-size: 0.8rem;
  color: color-mix(in oklab, white 60%, black 40%);
}

/* Quand la checkbox est checked, le fond du label devient rouge */
/* .button--toggleDone:has(input[type="checkbox"]:checked) {
  background-color: color-mix(in oklab, var(--danger-color) 40%, transparent 60%);
}

.button--toggleDone:has(input[type="checkbox"]:checked):hover {
  background-color: color-mix(in oklab, var(--danger-color) 100%, transparent 0%);
} */

/* Quand la checkbox n'est pas checked, le fond du label devient vert */
/* .button--toggleDone:has(input[type="checkbox"]:not(:checked)) {
  background-color: color-mix(in oklab, var(--success-color) 40%, transparent 60%);
}

.button--toggleDone:has(input[type="checkbox"]:not(:checked)):hover {
  background-color: color-mix(in oklab, var(--success-color) 100%, transparent 0%);
} */
